<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.module.mapper.AnimeMapper">

    <resultMap type="Anime" id="AnimeResult">
        <result property="id" column="id"/>
        <result property="coverImg" column="cover_img"/>
        <result property="title" column="title"/>
        <result property="alias" column="alias"/>
        <result property="animeType" column="anime_type"/>
        <result property="animeCategory" column="anime_category"/>
        <result property="animeArea" column="anime_area"/>
        <result property="animeYear" column="anime_year"/>
        <result property="updateState" column="update_state"/>
        <result property="animeDesc" column="anime_desc"/>
        <result property="animeVideo" column="anime_video"/>
        <result property="standbyVideo" column="standby_video"/>
    </resultMap>

    <sql id="selectDataVo">
        select *
        from anime
    </sql>

    <select id="selectDataList" parameterType="Anime" resultMap="AnimeResult">
        <include refid="selectDataVo"/>
        <where>
            <if test="coverImg != null  and coverImg != ''">and cover_img = #{coverImg}</if>
            <if test="title != null  and title != ''">and (title like concat('%', #{title}, '%') or ch_title like
                concat('%', #{title}, '%'))
            </if>
            <if test="alias != null  and alias != ''">and alias = #{alias}</if>
            <if test="animeType != null  and animeType != ''">and anime_type like concat('%', #{animeType}, '%')
            </if>
            <if test="animeCategory != null  and animeCategory != ''">and anime_category = #{animeCategory}</if>
            <if test="animeArea != null  and animeArea != ''">and anime_area = #{animeArea}</if>
            <if test="animeYear != null  and animeYear != ''">and anime_year = #{animeYear}</if>
            <if test="updateState != null  and updateState != ''">and update_state = #{updateState}</if>
            <if test="animeDesc != null  and animeDesc != ''">and anime_desc = #{animeDesc}</if>
            <if test="animeVideo != null  and animeVideo != ''">and anime_video = #{animeVideo}</if>
            <if test="standbyVideo != null  and standbyVideo != ''">and standby_video = #{standbyVideo}</if>
        </where>
    </select>

    <select id="selectDataById" parameterType="Long" resultMap="AnimeResult">
        <include refid="selectDataVo"/>
        where id = #{id}
    </select>

    <sql id="selectAnimeVo">
        select id,
               cover_img,
               title,
               alias,
               anime_type,
               anime_category,
               anime_area,
               anime_year,
               update_state,
               anime_desc,
               anime_video,
               standby_video
        from anime
    </sql>

    <select id="selectAnimeList" parameterType="Anime" resultMap="AnimeResult">
        <include refid="selectAnimeVo"/>
        <where>
            <if test="coverImg != null  and coverImg != ''">and cover_img = #{coverImg}</if>
            <if test="title != null  and title != ''">and title like concat('%', #{title}, '%')</if>
            <if test="alias != null  and alias != ''">and alias = #{alias}</if>
            <if test="animeType != null  and animeType != ''">and anime_type like concat('%', #{animeType}, '%')</if>
            <if test="animeCategory != null  and animeCategory != ''">and anime_category = #{animeCategory}</if>
            <if test="animeArea != null  and animeArea != ''">and anime_area = #{animeArea}</if>
            <if test="animeYear != null  and animeYear != ''">and anime_year = #{animeYear}</if>
            <if test="updateState != null  and updateState != ''">and update_state = #{updateState}</if>
            <if test="animeDesc != null  and animeDesc != ''">and anime_desc = #{animeDesc}</if>
            <if test="animeVideo != null  and animeVideo != ''">and anime_video = #{animeVideo}</if>
            <if test="standbyVideo != null  and standbyVideo != ''">and standby_video = #{standbyVideo}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectAnimeById" parameterType="Long" resultMap="AnimeResult">
        <include refid="selectAnimeVo"/>
        where id = #{id}
    </select>

    <insert id="insertAnime" parameterType="Anime" useGeneratedKeys="true" keyProperty="id">
        insert into anime
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coverImg != null">cover_img,</if>
            <if test="title != null">title,</if>
            <if test="alias != null">alias,</if>
            <if test="animeType != null">anime_type,</if>
            <if test="animeCategory != null">anime_category,</if>
            <if test="animeArea != null">anime_area,</if>
            <if test="animeYear != null">anime_year,</if>
            <if test="updateState != null">update_state,</if>
            <if test="animeDesc != null">anime_desc,</if>
            <if test="animeVideo != null">anime_video,</if>
            <if test="standbyVideo != null">standby_video,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coverImg != null">#{coverImg},</if>
            <if test="title != null">#{title},</if>
            <if test="alias != null">#{alias},</if>
            <if test="animeType != null">#{animeType},</if>
            <if test="animeCategory != null">#{animeCategory},</if>
            <if test="animeArea != null">#{animeArea},</if>
            <if test="animeYear != null">#{animeYear},</if>
            <if test="updateState != null">#{updateState},</if>
            <if test="animeDesc != null">#{animeDesc},</if>
            <if test="animeVideo != null">#{animeVideo},</if>
            <if test="standbyVideo != null">#{standbyVideo},</if>
        </trim>
    </insert>

    <update id="updateAnime" parameterType="Anime">
        update anime
        <trim prefix="SET" suffixOverrides=",">
            <if test="coverImg != null">cover_img = #{coverImg},</if>
            <if test="title != null">title = #{title},</if>
            <if test="alias != null">alias = #{alias},</if>
            <if test="animeType != null">anime_type = #{animeType},</if>
            <if test="animeCategory != null">anime_category = #{animeCategory},</if>
            <if test="animeArea != null">anime_area = #{animeArea},</if>
            <if test="animeYear != null">anime_year = #{animeYear},</if>
            <if test="updateState != null">update_state = #{updateState},</if>
            <if test="animeDesc != null">anime_desc = #{animeDesc},</if>
            <if test="animeVideo != null">anime_video = #{animeVideo},</if>
            <if test="standbyVideo != null">standby_video = #{standbyVideo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnimeById" parameterType="Long">
        delete
        from anime
        where id = #{id}
    </delete>

    <delete id="deleteAnimeByIds" parameterType="String">
        delete from anime where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDataByTitle" parameterType="String" resultMap="AnimeResult">
        <include refid="selectDataVo"/>
        where title = #{title}
    </select>
</mapper>